<div class="hero is-fullheight is-info">
  <div class="hero-body has-text-centered">
    <section class="hero is-fullheight">
      <div class="container">
        <div class="columns">
          <main class="column is-10 has-background-light"></main>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/letschat.js" type="module"></script>
