<div class="column is-full">
<form action="/chat/<%= peer.id %>" method="post">
  <div class="field is-grouped">
<p class="control is-expanded">
<input class="input" type="text" name="chatmessage"></input>
</p>
<p class="control">
<button class="button is-info" type="submit">Send</button>
</p>
</div>
</form>
</div>
