<aside class="column is-narrow is-fullheight" id="aside">
  <i class="fas fa-bars m-5" style="cursor: pointer" id="togglesidebar"></i>
  <div class="menu px-5" style="width: 200px">
    <h1 class="title is-4">Let's chat</h1>
    <p class="menu-label">Online</p>
    <ul class="menu-list">
      <li><a href="/chat/25">Lovisa</a></li>
      <li><a href="/chat/26">Alessandro</a></li>
    </ul>
  </div>
  <form action="/auth/logout" method="post" class="form m-5">
    <button class="button is-small is-link" type="submit">Logout</button>
  </form>
</aside>
<script src="/js/participants.js" type="text/javascript"></script>
