<div
  id="socketmessages"
  class="section"
  style="height: calc(100vh - 80px); overflow: scroll"
></div>

<%- include('input') %>
<script
  src="/js/components/chat-message-received/index.js"
  type="module"
></script>
<script src="/js/components/chat-message-sent/index.js" type="module"></script>
