<h1 class="title">Welcome to Letschat!</h1>

<div class="buttons is-centered">
  <a href="/auth/login"
    ><button class="button is-large is-dark">Login</button></a
  >
  <a href="/auth/signup"
    ><button class="button is-large is-dark">Sign up</button></a
  >
</div>
